.buttonSmall {
    border: none;
    color: white;
    padding: 0 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px 0 1px;
    /*transition-duration: 0.1s;*/
    cursor: pointer;
    border-radius: 4px
}

.button {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonGreen {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.buttonGreen:hover {
    background-color: #4CAF50;
    color: white;
}

.buttonBlue {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.buttonBlue:hover {
    background-color: #008CBA;
    color: white;
}

.buttonRed {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.buttonRed:hover {
    background-color: #f44336;
    color: white;
}

.buttonGrey {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.buttonGrey:hover {background-color: #e7e7e7;}

.buttonBlack {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.buttonBlack:hover {
    background-color: #555555;
    color: white;
}